.container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.button {
  margin-left: 15px !important;
  margin-bottom: 10px !important;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
