{
  "env": {
    "browser": true,
    "node": true,
    "es2020": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint", "react", "prettier"],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier",
    "plugin:@next/next/recommended"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    "import/extensions": "off",
    "react/prop-types": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-props-no-spreading": ["error", { "custom": "ignore" }],
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "lf"
      }
    ],
    "react/no-unescaped-entities": "off",
    "import/no-cycle": [0, { "ignoreExternal": true }],
    "prefer-const": "off",
    // needed because of https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-use-before-define.md#how-to-use & https://stackoverflow.com/questions/63818415/react-was-used-before-it-was-defined
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": [
      "error",
      { "functions": false, "classes": false, "variables": true }
    ],
    "@typescript-eslint/explicit-module-boundary-types": ["off"],
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "react/require-default-props": "off",
    "linebreak-style": ["warn", "unix"],
    "import/order": "warn",
    "no-restricted-syntax": "off",
    "no-nested-ternary": "off",
    "no-continue": "off",
    "no-labels": "off",
    "no-await-in-loop": "off",
    "@next/next/no-img-element": "off",
    "import/prefer-default-export": "warn",
    "no-console": "off"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "paths": ["."]
      }
    }
  }
}
