.root {
  flex-grow: 1;
  transition: background 0.2s ease, border-color 0.2s ease;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/programming-1873854_1920.webp);
  color: white;
}

.toolbar {
  padding: 0 !important;
  justify-content: space-between;
}

.link {
  cursor: pointer;
}
