.root {
  flex-grow: 1;
  background: none !important;
  box-shadow: none !important;
  color: white;
  z-index: 1400 !important;
}

.scrolled,
.drawer {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
  background: #3a4852 !important;
}

:global(.dark) .scrolled,
.drawerDark {
  background: #20282d !important;
}

.scrolled .background {
  opacity: 1 !important;
}

.toolbar {
  padding: 0 !important;
  justify-content: space-between;
}

.wide {
  padding: 0 20px !important;
}

.link {
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
}

.title img {
  height: 1.2em;
  margin-inline-end: 10px;
}

.smallTitle {
  font-size: 13px;
  margin-top: -5px;
}

.drawerSearch {
  margin-top: 70px;
  width: 225px !important;
}

.translateIcon {
  margin-inline-end: 8px;
}

.toolbar svg {
  fill: white;
  width: 1em;
  height: 1em;
}

.sidebarLink {
  padding: 0px !important;
  min-width: auto !important;
}

.unstyledLink {
  color: #fff;
  text-decoration: none;
}
