.cardOuter {
  margin-right: 20px !important;
  margin-bottom: 20px !important;
  width: fit-content;
  display: inline-block;
}

.cardOuter:hover {
  background-color: lightgray !important;
}

:global(.dark) .cardOuter:hover {
  background-color: rgb(25, 28, 31) !important;
}

.cardInner {
  display: flex;
  align-items: center;
  padding-bottom: 16px !important;
}

.text {
  margin-left: 10px !important;
}
