.cardOuter {
  margin-right: 20px !important;
  margin-bottom: 20px !important;
  width: fit-content;
  display: inline-block;
}

.cardInner {
  display: flex;
  align-items: center;
  padding-bottom: 16px !important;
}

.text {
  margin-inline-start: 10px !important;
}
