.container {
  display: flex;
  align-items: center;
}

.avatarGroup {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.avatar {
  height: 25px !important;
  width: 25px !important;
  font-size: 10px !important;
  border: white solid 2px;
  margin: 10px -7px 10px 0;
  transition: margin 0.2s ease;
}

:global(.dark) .avatar {
  border: #101316 solid 2px;
}

.avatarGroup:hover .avatar {
  margin: 10px 2px 10px 0;
}

.more {
  margin-left: 12px !important;
  color: gray;
  transition: margin 0.2s ease;
  cursor: pointer;
}

.more:hover {
  text-decoration: underline;
}
