.container {
  transition: height 0.4s ease, margin-bottom 0.4s ease;
  display: flex;
  flex-direction: column;
  height: 350px;
}

.scrollContainer {
  transition: height 0.4s ease;
  display: flex;
  flex-direction: column;
  height: 350px;
}

.actions {
  transition: height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
  height: 0;
  opacity: 0;
  pointer-events: none;
  align-self: flex-end;
  padding-bottom: 5px;
  position: absolute;
  transform: translateY(0);
}

.actions button {
  margin-left: 10px;
}

.code {
  background: #f2f2f2;
  padding: 15px;
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
  flex-grow: 1;
  cursor: pointer;
  scroll-behavior: smooth;
}

:global(.dark) .code {
  background: #0000002c;
}

.code::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 50%,
    rgba(250, 250, 250, 1) 100%
  );
  transition: opacity 0.4s ease;
}

:global(.dark) .code::before {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #101316 100%);
}

.implementations {
  transform: translateY(-15px);
  transition: transform 0.4s ease;
}

.implementation {
  margin-right: -5px !important;
}

.active {
  margin-bottom: 100px;
  height: calc(100vh - 150px);
}

.active .scrollContainer {
  height: calc(100vh - 150px);
}

@media (max-width: 800px) {
  .active {
    height: calc(100vh - 150px);
    overflow: scroll;
  }

  .active .scrollContainer {
    height: auto;
  }
}

.active .actions {
  height: 45px;
  opacity: 1;
  pointer-events: all;
}

@media (min-width: 800px) {
  .active .actions {
    padding-top: 10px;
    padding-right: 20px;
    z-index: 10;
  }
}

@media (max-width: 800px) {
  .active .actions {
    transform: translateY(-40px);
  }
}

.active .code {
  overflow: auto;
  cursor: unset;
}

.active .code::before {
  opacity: 0;
  pointer-events: none;
}

.active .implementations {
  transform: translateY(0);
}
