.codeContainer {
  position: relative;
}

.code {
  transition: height 0.3s ease, margin-bottom 0.3s ease;
  height: 350px;
  overflow: hidden;
  cursor: pointer;
}

.codeHover {
  height: 500px;
  overflow: auto;
  margin-bottom: 1em;
  cursor: unset;
}

.codeContainerGradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 50%,
    rgba(250, 250, 250, 1) 100%
  );
  pointer-events: none;
}

:global(.dark) .codeContainerGradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #101316 100%);
}
