.more {
  margin-left: 50% !important;
  transform: translateX(-50%);
  margin-top: 40px !important;
}

.more span span {
  margin-left: 0px;
  margin-right: 0px;
  margin-inline-start: -4px;
  margin-inline-end: 8px;
}