.category {
  font-size: 14px !important;
}

.title {
  margin-bottom: 10px;
}

.actions {
  justify-content: space-between;
}

.root:hover {
  background-color: rgb(230, 230, 230) !important;
}

:global(.dark) .root:hover {
  background-color: rgb(25, 28, 31) !important;
}
