.category {
  font-size: 14px !important;
}

.title {
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  pointer-events: none;
}

:global(.dark) .title::after {
  background: linear-gradient(
    90deg,
    rgba(32, 40, 45, 0) 0%,
    rgba(32, 40, 45, 1) 100%
  );
}

.actions {
  justify-content: space-between;
}

.stretchedCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

:global(html[lang=ar]) .breadcrumbs,
:global(html[lang=ar]) .title {
  direction: ltr;
}