.name {
  letter-spacing: 2px !important;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 12px !important;
  grid-area: name;
}

.logo {
  grid-area: logo;
  margin-inline-end: 40px;
  width: 80px;
  height: 80px;
}

.list {
  display: flex;
  flex-direction: column;
  margin-inline-end: 30px;
}

.list a {
  text-decoration: none;
}

.list a:hover {
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-rows: 35px auto;
  grid-template-areas:
    "logo name name"
    "logo list list"
    "vercel vercel vercel";
  justify-content: center;
}

@media (max-width: 500px) {
  .name {
    text-align: center;
  }

  .logo {
    margin: 10px;
    justify-self: center;
  }

  .grid {
    grid-template-areas:
      "logo logo"
      "name name"
      "list list"
      "vercel vercel";
    grid-template-rows: auto 35px auto;
  }
}

.vercelLogo {
  grid-area: vercel;
  justify-self: center;
  display: flex;
  margin-top: 30px;
  align-items: center;
  text-decoration: none;
}

.vercelLogo img {
  height: 2.7em;
}

.outer {
  position: sticky;
  top: 100%;
  color: rgb(211, 211, 211) !important;
}

.outer a {
  color: white !important;
}
