.rootSmall {
  display: flex;
  justify-content: flex-end;
}

.rootLarge {
  display: flex;
  flex-wrap: wrap;
}

.button {
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.icon {
  margin-left: 10px;
}

.textIcon {
  text-decoration: none !important;
  font-weight: bolder !important;
  color: rgba(0, 0, 0, 0.26) !important;
}

:global(.dark) .textIcon {
  color: rgba(255, 255, 255, 0.3) !important;
}

.more {
  margin-left: 10px !important;
}
