.paper {
  background: transparent !important;
}

.outer {
  background-size: cover;
  color: white;
  padding-top: 114px;
  padding-bottom: 50px;
  margin-top: -64px;
  height: min-content;
  overflow: hidden;
  position: relative;
}

.background {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  color: rgb(233, 233, 233);
  background: black;
}

.background1 {
  position: absolute;
  top: 0;
  left: 5vw;
}

.background2 {
  position: absolute;
  top: 100px;
  right: -700px;
}

.background3 {
  position: absolute;
  bottom: 50px;
  left: 35vw;
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .background2 {
    display: none;
  }

  .background3 {
    bottom: 50px;
    right: 0;
    transform: translateX(50%);
  }
}

@media (max-width: 1500px) {
  .background3 {
    display: none;
  }
}

.h1 {
  font-size: 4em !important;
  font-weight: 500 !important;
  margin-bottom: 10px !important;
}

.h2 {
  font-size: 2em !important;
  font-weight: 300 !important;
  margin-bottom: 50px !important;
}

.input {
  width: 400px;
  max-width: 100%;
}

:global(html[lang=ar]) .Jumbo_SearchBar label[data-shrink]{
  left: unset;
  right: 0;
  transform: translate(-12px, 20px) scale(1);
  transform-origin: right;
}

:global(html[lang=ar]) .Jumbo_SearchBar label[data-shrink=true]{
  transform: translate(-12px, 10px) scale(0.75);
}