.paper {
  background: transparent !important;
}

.outer {
  background-size: cover;
  color: white;
  padding-top: 114px;
  padding-bottom: 50px;
  margin-top: -64px;
  height: min-content;
  overflow: hidden;
  position: relative;
}

.background {
  pointer-events: none;
}

.background img {
  z-index: -1;
}

.h1 {
  font-size: 4em !important;
  font-weight: 500 !important;
  margin-bottom: 10px !important;
}

.h2 {
  font-size: 2em !important;
  font-weight: 300 !important;
  margin-bottom: 50px !important;
}

.input {
  width: 400px;
  max-width: 100%;
}
