@media (min-width: 600px) {
  .twoCols {
    display: grid;
    grid-template-columns: 47.5% 5% 47.5%;
  }
}

.twoCols > div {
  margin-bottom: 40px;
}

.title {
  margin-bottom: 20px !important;
}

.card {
  padding: 30px;
  margin-bottom: -25px;
  margin-top: -25px;
}

.card > div {
  margin-bottom: -40px !important;
}

.languages {
  margin-top: 20px;
}
