@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";
@import "https://fonts.googleapis.com/css?family=Material+Icons";

html,
body,
#__next {
  margin: 0;
  height: 100%;
  width: 100%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  margin: 0;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

#nprogress .bar {
  z-index: 10000 !important;
}

#nprogress .peg {
  box-shadow: none !important;
}

.hljs,
.nb-output {
  background-color: rgba(0, 0, 0, 0.03) !important;
  padding: 0.5em;
}

.dark .hljs,
.dark .nb-output {
  background-color: rgba(0, 0, 0, 0.3) !important;
  color: rgb(233, 233, 233);
}

/* For rendered markdown and jupyter */

a {
  color: #3f51b5;
}

.dark a {
  color: #00bcb4;
}

th,
td {
  border: 1px solid rgb(122, 122, 122) !important;
  padding: 5px !important;
}

table {
  border-spacing: 0 !important;
}
