@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";
@import "https://fonts.googleapis.com/css?family=Material+Icons";

html,
body,
#__next {
  margin: 0;
  height: 100%;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

#nprogress .bar {
  z-index: 10000 !important;
}

#nprogress .peg {
  box-shadow: none !important;
}
