@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

html[lang=ar] {
  direction: rtl;
}

html,
body,
#__next {
  margin: 0;
  height: 100%;
  width: 100%;
  min-width: 350px;
}

body {
  margin-top: 64px !important;
  height: calc(100% - 64px);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  margin: 0;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  body {
    margin-top: 56px !important;
    height: calc(100% - 56px);
  }
}

#__next {
  transition: background 0.4s ease;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

#nprogress .bar {
  z-index: 10000 !important;
}

#nprogress .peg {
  box-shadow: none !important;
}

.hljs,
.nb-output {
  background-color: rgba(0, 0, 0, 0.03) !important;
  padding: 0.5em;
  display: block;
}

.dark .hljs,
.dark .nb-output {
  background-color: rgba(0, 0, 0, 0.3) !important;
  color: rgb(233, 233, 233);
}

/* For rendered markdown and jupyter */

.section a {
  color: #3f51b5;
}

.dark .section a {
  color: #00bcb4;
}

th,
td {
  border: 1px solid rgb(122, 122, 122) !important;
  padding: 5px !important;
}

table {
  border-spacing: 0 !important;
}

.MuiDialog-container {
  padding-top: 64px !important;
}

.elevateOnHover {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.2s ease;
}

.elevateOnHover:hover {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.05),
    0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.05),
    0 0.5rem 1rem rgba(0, 0, 0, 0.13);
}

html {
  --scrollbar-background: #fafafa;
  --scrollbar-thumb: #3a4852;
}

html.dark {
  --scrollbar-background: #101316;
  --scrollbar-thumb: rgb(32, 40, 45);
}

html {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-background);
}

html::-webkit-scrollbar {
  background-color: var(--scrollbar-background);
}

html::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}