name: lint
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: tsc and eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
      - name: Install dependencies
        run: yarn
      - name: Fetch Algorithms
        run: yarn fetch-algorithms
      - name: Lint
        run: yarn lint
